@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
body {
    margin: 0;
    padding: 0;
    background: rgb(20, 20, 20);
}

.container {
    width: 100%;
    margin-top: 10%;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.container h2 {
    /* background: #0062cc; */
    color: #fff;
    /* width: 200px; */
    font-family: Cedarville Cursive;
    font-size: 32px;
    font-weight: bold;
    padding: 5px;
    height: 40px;
}

/* .container h2::after {
    content: '';
    border-top: 38px solid #0062cc;
    border-right: 44px solid transparent;
    position: relative;
    left: 20px;
    top: 33px;
} */

.container h3,h5 {
    color: whitesmoke;
}
.row {
    margin-top: 30px;
}

img {
    width: 100%;
}

.product-bottom h3 {
    font-size: 20px;
    font-weight: bold;
}

.product-bottom h5 {
    font-size: 15px;
    padding-bottom: 10px;
}

/* .overlay {
    display: block;
    opacity: 0;
    position: absolute;
    top: 1%;
    margin-left: 0;
    width: 70px;
} */

.overlay {
    margin-top: 5px;
    margin-bottom: 3px;
    text-align: center;
}

.header {
    width: 100%;
    height: 60px;
}

.logo {
    height: 90%;
    width: 25%;
    float: left;
}

.logo img {
    margin-top: 10px;
    margin-left: 15px;
}

footer{
    width: 100%;
    position: fixed;
    bottom:0;
}
